body{
    margin: 0;
}
.active {
    color: red;
}
.HomeWallpaper{
    background: url(/img/HomeWallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}
.Bandeau{
    position: fixed;
    left: 0px;
    width: 100%;
}

.lienCategorie{
    text-decoration: none;
    color: white;
}

.BandeauGauche{
    float:left;
    position: fixed;
    left: 0px;
    top: 50px;
    width: 25%;
    height: 100%;
    background:rgba(255,255,255,0.5);

    z-index: -1;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.AuteurArticle{
    font-size: 14px;

    xcolor : #000000;
    color: #FFFFFF;
    xbackground:rgba(58,142,253,0.5);
    background:rgba(0,0,14,0.5);
    width: 100%;
    float: left;
    text-align: initial;
}
.TitreArticle{
    font-size: 23px;
    xcolor: #3D4248;
    color: #FFFFFF;
    text-decoration: none;
    font-weight:700;
}
.contente{
    float:left;
    width: 100%;
    margin-top: 50px;
}

.centrale{
    float:left;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
.BandeauDroite{
     float:right;
     width: 24%;
    height: 100%;
    position: fixed;
    right: 0px;
    background:rgba(255,255,255,0.5);
    top: 50px;
 }
.resultBlock{
    margin-left: 10%;
    width: 80%;
    xbackground:rgba(58,142,253,0.5);
    background:rgba(0,0,14,0.5);
}
.BlockTitreArticle{
    xbackground:rgba(58,142,253,0.5);
    background:rgba(0,0,14,0.5);

}

#Base .CONT .ligne div {
    float: left;
    padding: 6px 0;
    font-size: 12px;
    color: #000;
}
li.classement, li.resultat, li.equipe,li.infos{
    font-size: 30px !important;
}

.NomCate{
    text-align: center;
    position: absolute;
    background-color: red;
    margin-top: -35px;
    color: white;
    width: 60px;
    height: 25px;
    padding-top: 10px;

}
.Une{
    display: table;
    margin: 0 auto;
    width: 500px;

    border: solid;

    margin-top: 50px;
    text-align: center;
}

.menu{
    float : left;
    margin-left: 35px;
    margin-top: 40px;
}
.Imglogo{
    height: 45px;
    width: 80px;
    float: left;
    margin-right: 15px;
}
#Base .ligne{
    clear: both;
    float: left;
    width: 100%;
    border: 1px solid #FFF;
    background: #FFF;
    border-bottom: 1px solid #ddd;
    transition: background 1s ease;
    -moz-transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -o-transition: background 1s ease;

}

.PhraseLogo{
    color:white;
    margin-top: 15px;
}
.centreInscri{
    background:rgba(255,255,255,0.75);
    width: 80%;
    margin-left: 10%;
    height: 80%;
    top: 110px;
    position: absolute;
    overflow-y: scroll;
}
.centreConnect{
    background:rgba(255,255,255,0.75);
    width: 80%;
    margin-left: 10%;
    height: 80%;
    top: 110px;
    position: absolute;

}
.fieldsetConnect{
     width: 50%;
     margin-left: 25%;
 }
.EquipesInscrit{
    display:inline-block;
    vertical-align:middle;
    text-align:left;
    margin:0 10px;
}

.ImgUser{
    height: 35px;
    float: right;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 8px;
    cursor :pointer;
    position: relative;
    z-index: 150;
}
.ligne.bb-color{
    display: inline-flex;
}
.ImgDropDown{
    height: 30px;
    vertical-align:middle;
}

.monfooter{
    background:rgba(0,0,14,0.5);
    height: 40px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

ul {
    height: 50px;
    list-style-type: none;
    font-size: 23px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    xbackground:rgba(58,142,253,0.5);
    background:rgba(0,0,14,0.5);
}

li {
    display: inline;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdowne {
    display: inline-block;
    z-index: 15;

}

.dropdowne-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}

.dropdowne-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.ConteneurImage{

}
form .succes {
     color: #090;
}
form .erreur {
    color: #ff0000;
}

.ImgTampon{
    position: absolute;
    top: 65px;
    transform: rotate(355deg);
    left: 0;
}



.imgFilligranne{
    filter:alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity:0.4;
    margin-left: 40%;
    position: absolute;
    margin-top: 150px;
    height: 350px;

}


.dropdowne-content a:hover {background-color: #f1f1f1}

.dropdowne:hover .dropdowne-content {
    display: block;
}

.ImgBandeau{
    width: 100%;
    height: 300px;
}



table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.ImgBandeau{
    margin: auto;
}

.navi{
    width: 50%;
    margin-left: 25%;
}
.nav li a{
    padding: 5px 16px;
}
.nav ul {
    list-style: none;
    background-color: #444;
    padding: 0;
    margin: 0;
}
.nav li {
    width: 25%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 25%;
        border-bottom: none;
        height: 50px;

        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}